@media only screen  and (max-width: 950px) {

    .navigace > li > a {
        flex-direction: column;


    }

    .navigace > li > a::before {
        margin: 0 !important;
    }

    .navigace > li > a > span {
        text-align: center;
    }

    .h_container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .navigace > li {


    }

    .h_container > *:not(.navigace) {
        margin-right: 10px !important;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 750px) and (min-width: 655px) {
    .navigace > li > a {
        font-size: 1.6em !important;
    }
}

@media only screen and (min-width: 510px) and (max-width: 654px) {
    .navigace > li > a {
        font-size: 1.2em !important;
    }
}

@media only screen and (max-width: 509px) {
    .navigace > li > a {
        font-size: 1.1em !important;
    }
}

.navigace {
    list-style: none;
    display: flex;
    justify-content: space-between;
    counter-reset: li;

    background-color: #75b32b;
    padding: 0;
    margin-bottom: 2rem;
}

.navigace > li {
    width: 100%;
    padding: 10px 0;
    counter-increment: li;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navigace > li:not(.active_li) {
    margin-left: 1px;
    background-color: #007bff;
}

.navigace > li.active_li::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-top: solid 1.5rem #75b32b;
    border-left: solid 1.5rem transparent;
    border-right: solid 1.5rem transparent;

}


.navigace > li > a {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    color: black !important;
    font-size: 1.8em;
    align-items: center;
    height: 100%;

}

.navigace > li > a > span {
    height: fit-content;
    margin: auto 0;
}


.navigace > li > a::before {
    align-items: inherit;
    background-color: #79c3ff;
    border-radius: 50%;
    content: counter(li);
    display: inherit;
    font-size: 30px;
    justify-content: center;
    line-height: 1.25em;
    margin-right: 12px;
    max-width: 1.25em;
    max-height: 1.25em;
    min-height: 1.25em;
    min-width: 1.25em;
}