@media only screen and (max-width: 900px) {
    .kosik {
        max-width: 100% !important;
        width: 100% !important;
    }

    .kosik .cena {
        justify-content: right;
    }
}

@media only screen and (min-width: 901px) {
    .moznosti {
        margin-right: 15px;
    }

    .cont {
        grid-template-columns: 70% 30%;
    }

    .kosik {
        position: sticky;
        position: -webkit-sticky;
        top: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .Checkout {
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }

    .Checkout > a {
        text-align: center;
        width: 100%;
    }
}
.cont {
    display: grid;

    grid-template-rows: 1fr auto; /* One row at the bottom */
}

.bottom {
    width: 100%;
}

.kosik .cena {
    word-break: keep-all;
    min-width: fit-content;
    align-self: center;
    font-weight: 400;
    color: #000000;
    font-size: 1rem;
    line-height: 1.2 !important;
    display: flex;
    margin-left: auto;
    margin-bottom: 0.5em;
}

.kosik {
    padding: 10px;
    border: 1px #e4e4e4 solid;

    height: fit-content;
}

.kosik > * {
    padding: 5px;
}

.kosik > h2 {
    font-size: 1.5rem;
}

.kosik img:not(.kos-moznosti) {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.kosik > div {
    display: flex;
}

.kosik > div:not(.info-objednavka) {
    display: flex;
    border-bottom: 1px #e4e4e4 solid;
}

.kosik h3 {
    align-self: center;
    font-weight: 400;
    color: #000000;
    font-size: 1rem;
}

.kosik a:not(.obrazek) {
    cursor: pointer;
    word-break: break-word;
}

.kosik a:not(.obrazek):hover {
    text-decoration: underline !important;
}

.kosik a.obrazek {
    height: 4em;
    width: 4em;
    min-height: 4em;
    min-width: 4em;
    max-height: 4em;
    max-width: 4em;
    display: flex;
    margin-right: 10px;
}

.cena-celkem {
    width: 100%;
    font-size: 22px;
    display: flex;
    margin-top: 5px;
}

.cena-celkem > span {
    width: 50%;
}

.strong {
    font-weight: 500;
    text-align: right;
}

.info-objednavka {
    flex-flow: column;
    width: 100%;
}

.opions > label {
    width: 100%;
    border-bottom: 2px #e4e4e4 solid;
    padding: 5px;
    display: flex;
    align-items: center;
}

.opions > label > span {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    line-height: 25px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input[type="radio"]:checked {
    border: solid 6px #007bff;
}

input[type="radio"]:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.hide {
    display: none !important;
}

.plat_kosik {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 5px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 6px;
}

.plat_kosik > span {
    display: inline-flex;
    margin-top: 10px;
    max-height: 24px;
}

.plat_kosik > h6 {
    margin-bottom: 2px;
}

h2 {
    font-weight: 450;
}

.dodani {
    border: none;
    background-color: transparent;
    outline: none;
}

.dodani:hover {
    text-decoration-line: underline;
}

.dodani:focus-visible {
    border: none;
    outline: none;
}

.dodani:focus {
    border: none;
    outline: none;
}

.ob-moznosti {
    margin-left: 10px;
    max-height: 25px;
}

.kos-moznosti {
    margin-right: 10px;
    max-height: 24px;
}

.Checkout {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 2px solid #e4e4e4;
    align-items: center;
}

.required:not(.complete) {
    filter: grayscale(50%);
    opacity: 0.65;
    pointer-events: none;
    cursor: default;
}

a#submit_checkout {
    color: #efffff !important;
}

a#submit_checkout:hover {
    color: #efffff !important;
    box-shadow: none;
    background-color: #007bff;
    border-color: #007bff;
}
