@media only screen  and (min-width: 1061px) {
    .h_container {

        width: 85%
    }

}

@media only screen  and (min-width: 901px) {
    .nav_div {
        width: 100%;
        justify-content: right;
    }
}

@media only screen  and (max-width: 549px) {
    .h_nav {
        flex-direction: column;
    }

    .h_nav > .nav_div {
        width: 100%;
    }

    .h_nav > .nav_div > .form_dov {
        width: 100%;
    }


}


@media only screen  and (max-width: 1100px) {
    .h_container {

        max-width: 100%;
    }

}

.search_bar {
    width: 70% !important;

}

.basket_icon {
    margin-right: 1.2rem;
    font-size: 1.8rem
}

.nav_div {
    display: flex;
    align-items: center;
}

.h-fit {
    height: fit-content;
}


.mw-fitcontent {
    max-width: fit-content;
}

.w-fitcontent {
    width: fit-content;
}

.font22 {
    font-size: 22px;
}

.w-max-100 {
    max-width: 100%;
}

.green_icon {
    color: #75b32b !important;
}

.blue_text {
    color: #0094e7;
}

.blue-border {
    border: #0094e7 solid 3px !important;
}

.cursor_pointer {
    cursor: pointer;
}

.minw-100 {
    min-width: 100%;
}

.small-img {
    width: 32px;
    height: 32px;

}

.lg-background {
    background-color: #dfdfdf;
}

.borde {
    border: #9d9d9d solid 1px;
}

.bg-white {
    background-color: #e0e0e0;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.close-button {
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    opacity: 0.3;
    z-index: 100;
    position: absolute;

    background-color: rgb(255, 255, 255) !important;

}

#LoginTab {
    display: flex !important;
    justify-content: space-between !important;
    flex-flow: row !important;
}

.img-basket {
    display: block;
    margin: auto;
    width: auto !important;
    height: auto !important;
    max-width: 100px !important;
    max-height: 100px !important;
}

.count {
    color: #fff;
    background: #1a3b6c;
    border-radius: 14px;
    bottom: 0;
    font-size: 14px;
    font-weight: 600;
    left: 26px;
    line-height: 12px;
    min-width: 12px;
    padding: 3px;
    position: absolute;
    text-align: center;
}