@media only screen  and (min-width: 1061px) {
    .h_container {

        width: 85%
    }

}

@media only screen  and (min-width: 992px) {
    .form_dov {

        flex-basis: 76%;
    }

    .h_nav {
        justify-content: space-between;
    }

    .user_div {
        position: absolute;
        top: calc(100% + 20px);
        right: 0;
        width: 320px;
        background-color: #ffffff;
        box-shadow: 0 0 4px 2px rgba(50, 50, 50, .3);
        padding: 10px;
        border-radius: 5px;
    }
}

@media only screen  and (max-width: 991px) {

    .h_nav {
        position: sticky;
        top: 0;
        z-index: 50;
    }

    .form_dov {
        order: 1;
        flex-basis: 100%;
    }

    .user_div {
        position: fixed;
        right: 0;
        top: 52px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;
    }
}

/*
@media only screen  and (max-width: 549px) {
    .h_nav {
        flex-direction: column;
    }

    .h_nav > .nav_div {
        width: 100%;
    }

    .h_nav > .nav_div > .form_dov {
        width: 100%;
    }


}
*/


@media only screen  and (max-width: 1100px) {
    .h_container {

        max-width: 100%;
    }

}

.user_div {
    display: none;
    z-index: 101
}


.user_info {
    display: flex;
    flex-direction: row;
}

.form_dov > form {
    flex-flow: unset;
}

.search_bar {
    width: 100% !important;

}

.basket_icon {
    margin-right: 1.2rem;
    background: url("../svg/shop_cart.svg");
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
    display: block;
}

.icon-eye {
    background: url("../svg/eye-open.svg");
    background-size: 100% 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.icon-eye-off {
    background: url("../svg/eye-off.svg");
    background-size: 100% 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.modal-recenze {
    display: flex;
    align-items: center;
}

.icon-pencil {
    background: url("../svg/pencil.svg");
    background-size: 100% 100%;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 5px;
    display: block;
}

.icon_user {
    background: url("../svg/user.svg");
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
    display: block;
}

.nav_div {
    display: flex;
    align-items: center;
}

.h-fit {
    height: fit-content;
}


.mw-fitcontent {
    max-width: fit-content;
}

.w-fitcontent {
    width: fit-content;
}

.font22 {
    font-size: 22px;
}

.w-max-100 {
    max-width: 100%;
}

.green_icon {
    color: #75b32b !important;
}

.blue_text {
    color: #0094e7;
}

.blue-border {
    border: #0094e7 solid 3px !important;
}

.cursor_pointer {
    cursor: pointer;
}

.minw-100 {
    min-width: 100%;
}

.small-img {
    width: 32px;
    height: 32px;

}

.lg-background {
    background-color: #dfdfdf;
}

.borde {
    border: #9d9d9d solid 1px;
}

.bg-white {
    background-color: #e0e0e0;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.close-button {
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    opacity: 0.3;
    z-index: 100;
    position: absolute;

    background-color: rgb(255, 255, 255) !important;

}

#LoginTab {
    display: flex !important;
    justify-content: space-between !important;
    flex-flow: row !important;
}


.user {
    cursor: pointer;
    margin-right: 10px;
}

.icon_check {
    background: url("../svg/checked-svgrepo-com.svg");
    background-size: 100% 100%;
    width: 21px;
    height: 21px;
}

.check_user {

    top: -10px !important;
    left: 18px !important;
    position: absolute;
    text-align: center;
}

.count {
    color: #fff;
    background: #1a3b6c;
    border-radius: 14px;
    bottom: 0;
    font-size: 14px;
    font-weight: 600;
    left: 26px;
    line-height: 12px;
    min-width: 12px;
    padding: 3px;
    position: absolute;
    text-align: center;
}

.numberstyle-qty {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    height: 50px;
}

.numberstyle-qty > div {
    flex: 1 1 20px;
}

.numberstyle-qty > input {
    height: 100%;
    text-align: center;
    padding: 0;
}


.numberstyle-qty input[type="number"]::-webkit-inner-spin-button,
.numberstyle-qty input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberstyle-qty input[type="number"] {
    -moz-appearance: textfield;
}
