:root {
    --redhov: #af1921;
    --myred: #c91f28;
    --light: #efffff;
}

@media only screen  and (min-width: 1061px) {
    .h_container:not(.searchh) {

        width: 85%

    }

}

@media only screen  and (min-width: 992px) {

    .reset-button {
        display: none !important;
    }

    #h_nav.active::before {
        opacity: 1;
    }

    .form_dov {

        flex-basis: 76%;
    }

    .reset-button {
        display: none !important;
    }

    .h_nav {
        justify-content: space-between;
    }

    .user_div {
        position: absolute;
        top: calc(100% + 20px);
        right: 0;
        width: 320px;
        background-color: #ffffff;
        box-shadow: 0 0 4px 2px rgba(50, 50, 50, .3);
        padding: 10px;
        border-radius: 5px;
    }

    .form_dov {
        position: relative;
    }
}

@media only screen  and (max-width: 991px) {


    .h_nav {
        position: sticky;
        top: 0;
        z-index: 50;
    }

    .form_dov {
        order: 1;
        flex-basis: 100%;
    }

    #search-nav.active {
        position: absolute;
        right: 0;
        left: 0;
        background-color: white;
        z-index: 100;
        padding: 10px;
    }

    #search-resoult {
        height: 100vh;
        position: fixed;
        margin-left: 10px;
        margin-right: 10px;
    }

    #search-nav.active .reset-button {
        display: block;
        background: white;
        border: none;
        color: black;
        font-weight: 700;
        margin-left: 15px;
        margin-right: 10px;
    }

    .reset-button {
        display: none;

    }

    .user_div {
        position: fixed;
        right: 0;
        top: 52px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;
    }


}


@media only screen  and (max-width: 1100px) {
    .h_container {

        max-width: 100%;
    }

}

.invalid {

    border: var(--myred) solid 1px !important;
    border-radius: 3px;
    outline: none;
}

.invalid:focus-visible {

    border: var(--myred) solid 2px !important;

}

.user_div {
    display: none;
    z-index: 101
}


.user_info {
    display: flex;
    flex-direction: row;
}

.form_dov > form {
    flex-flow: unset;
}

.search_bar {
    width: 100% !important;

}

.nepodtrh {
    text-decoration: none !important;
}

.nepodtrh:hover {
    text-decoration: none !important;
}

.nepodtrh:visited {
    text-decoration: none !important;
}

#login-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sede:not(.registrace) {
    color: #495057 !important;
}

.sede:hover:not(.registrace) {
    color: #495057 !important;
    text-decoration: none !important;
}

.sede:visited:not(.registrace) {
    color: #495057 !important;
    text-decoration: none !important;
}

.login-modal {
    display: flex;
}

.login-modal > .container > .row {
    justify-content: center;
}

.basket_icon {
    margin-right: 1.2rem;
    background: url("../svg/shop_cart.svg");
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
    display: block;
}

.icon-eye {
    background: url("../svg/eye-open.svg");
    background-size: 100% 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.icon-eye-off {
    background: url("../svg/eye-off.svg");
    background-size: 100% 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.modal-recenze {
    display: flex;
    align-items: center;
}

.icon-pencil {
    background: url("../svg/pencil.svg");
    background-size: 100% 100%;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 5px;
    display: block;
}

.icon_user {
    background: url("../svg/user.svg");
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
    display: block;
}

.nav_div {
    display: flex;
    align-items: center;
}

.h-fit {
    height: fit-content;
}


.mw-fitcontent {
    max-width: fit-content;
}

.w-fitcontent {
    width: fit-content;
}

.font22 {
    font-size: 22px;
}

.w-max-100 {
    max-width: 100%;
}

.green_icon {
    color: #75b32b !important;
}

.blue_text {
    color: #0094e7;
}

.blue-border {
    border: #0094e7 solid 3px !important;
}

.cursor_pointer {
    cursor: pointer;
}

.minw-100 {
    min-width: 100%;
}

.small-img {
    width: 32px;
    height: 32px;

}

.lg-background {
    background-color: #dfdfdf;
}

.borde {
    border: #9d9d9d solid 1px;
}

.bg-white {
    background-color: #e0e0e0;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.close-button {
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    opacity: 0.3;
    z-index: 100;
    position: absolute;

    background-color: rgb(255, 255, 255) !important;

}

#LoginTab {
    display: flex !important;
    justify-content: space-between !important;
    flex-flow: row !important;
}


.user {
    cursor: pointer;
    margin-right: 10px;
}

.icon_check {
    background: url("../svg/checked-svgrepo-com.svg");
    background-size: 100% 100%;
    width: 21px;
    height: 21px;
}

.check_user {

    top: -10px !important;
    left: 18px !important;
    position: absolute;
    text-align: center;
}

.count {
    color: #fff;
    background: #1a3b6c;
    border-radius: 14px;
    bottom: 0;
    font-size: 14px;
    font-weight: 600;
    left: 26px;
    line-height: 12px;
    min-width: 12px;
    padding: 3px;
    position: absolute;
    text-align: center;
}

.numberstyle-qty {
    position: relative;
    display: inline-block;

}

.numberstyle-qty > .qty-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    padding-left: 2px;
    right: 1px;
    width: 20px;
    border-left: 1px solid #ced4da;
    color: #777777;


}

.qty-add {
    bottom: 50%;
    top: 1px;
    border-bottom: 1px solid #ced4da;
}

.qty-rem {
    top: 50%;
    bottom: 1px;
}

.numberstyle-qty > input {
    text-align: center;
    padding: 0 20px 0 0;
    height: 40px;
    width: 60px;

}


.numberstyle-qty input[type="number"]::-webkit-inner-spin-button,
.numberstyle-qty input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberstyle-qty input[type="number"] {
    -moz-appearance: textfield;
}

.heslo_reqierd {
    display: none;
    margin-top: 10px;
}

.vidim {
    display: flex !important;
    flex-direction: column;
}

.nespravne {
    display: flex;
    align-items: center;
    color: var(--myred);
}

.invalid_text {
    color: var(--myred);
}

.good_heslo {
    display: flex;
    align-items: center;
    color: #a1c900;
}

.good_heslo:before {
    content: " ";
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../svg/checked-svgrepo-com.svg");
    background-size: 100%;
    margin-right: 5px;

}

.nespravne:before {
    content: " ";
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../svg/negative.svg");
    background-size: 100%;
    margin-right: 5px;

}

#LoginModal > .modal-dialog {
    max-width: 810px;

}

.login-modal > .container > .row > div {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 830px) {
    #LoginModal > .modal-dialog {
        margin: 1.75rem 10px;
    }
}

@media only screen and (max-width: 700px) {


    .login-modal {
        flex-direction: column !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .login-modal > .container {
        padding: 0;
    }

    .login-modal > .container > .row > div > a {
        margin-top: 15px;
        width: 100%;
    }

    .login-modal > .container > .row > div {
        width: 100%;
    }

    .login-modal input:not([type="checkbox"]) {
        font-size: 1.3rem;
    }

    .row-login > div > ul {
        display: none;
    }
}

.log-but:hover {
    background-color: var(--redhov);
    border-color: var(--redhov);
}

.log-but:focus {
    background-color: var(--redhov);
    border-color: var(--redhov);
    box-shadow: 0 0 0 0.2rem #e5444c;
}

.log-but:focus:active {
    box-shadow: 0 0 0 0.2rem #e5444c !important;

}

.log-but:active {
    background-color: var(--redhov) !important;
    border-color: var(--redhov) !important;
}


.log-but {
    margin-top: 15px;
    background-color: var(--myred);
    border-color: var(--myred);
}

.registrace {
    color: var(--light) !important;
}

#poup-login {
    list-style: none;
}

#poup-login > li {
    padding-top: 10px;
    position: relative;
}

#poup-login li .icon--ico-check {
    background-image: url("../svg/checked-svgrepo-com.svg");
    background-size: 100%;
    border-radius: 50%;
    margin-top: -10px;
    padding: 2px;
    left: -36px;
    position: absolute;
    top: 50%;
    width: 22px;
    height: 22px;
}

.row-login {
    height: 100%;
}

.row-login > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-login > div > a {
    display: flex;
    justify-content: center;
}

#ptih_h1_div {
    padding: 5px 0;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #fc0f25;

}

.full-input > input:focus:not(.invalid) + label {
    color: #20648b;
    font-weight: bold;
}

.full-input > input:focus + label {
    color: var(--myred);
    font-weight: bold;
}

.full-input {
    position: relative;
}

.full-input label:not(.popis) {
    top: 5px;
    left: 10px;
    font-size: 12px;
    position: absolute;
}

.full-input input, textarea {
    min-height: 50px;
    padding-top: 24px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#user_div {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
}

#user_div > a:nth-child(2) {
    padding: 10px;
}

#user_div > a {
    padding: 0 10px 10px 10px;
    color: #3a7699;
}

#user_div > a:hover {
    text-decoration: none;
}

#user_div > a:first-child {
    border-bottom: #9d9d9d 1px solid;
}

.error-kosik {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.error-kosik span {
    font-size: 1.8em;
}

.error-msg {
    background-color: #f6d0d1;
    color: #a90e15;
}

.error-msg > div > img {
    width: auto;
    height: 20px;
    margin: 5px;
}

.error-msg > div {
    display: flex;
    align-items: center;
    font-size: 1.5em;

}

#close-element {
    width: auto;
    height: 20px;
    margin: 5px;
}

.error-msg {
    display: flex;
    justify-content: space-between;

}

.error-user {
    width: fit-content;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;

}

.error-user > div > span {
    margin-bottom: 15px;
}

.error-user > div {
    display: flex;
    flex-flow: column;
}

.error-user > div > div {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.error-user > div > div > a {

    width: 40%;
}

#error-recen {
    display: none;
    justify-content: center;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
}

.bottm {
    display: flex;
    margin: 20px -15px 50px;

}

.bottm > button {
    margin-left: 20px;
    margin-top: 0 !important;
}

.bottm > a {
    margin-right: 20px;
}

.validate {
    margin-top: 20px;
}

.search {
    position: relative;
    min-height: 40px;
}

.search-div {
    min-height: 35px;
    width: 100%;
    display: flex;
    flex-flow: row;
    z-index: 53;
    padding: 5px;
    border: #2a1340 1px solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 1px 1px rgba(184, 182, 182);

}

.search_bar {
    min-height: 100%;
    border: none;
    outline: none;

}

.search_bar:focus-visible {

}

.submit-button {
    min-height: 100%;
    border: none;
    background-color: #75b32b;
    color: white;
    border-radius: 3px;
}

#search-resoult {
    position: absolute;
    display: none;
    z-index: 100;

}

#search-resoult.active {
    display: block;
}

#search-resoult > * > a, span {
    margin-left: 10px !important;
}

#h_nav::before {
    opacity: 0;
    background-color: rgba(2, 24, 43, .4);
    content: "";
    pointer-events: none;
    transition: .15s;
    z-index: 52;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}


#search-resoult {
    background: white;
    right: 0;
    left: 0;
}

#search-resoult img {
    height: 30px;
    width: 30px;
    aspect-ratio: 30/30 auto;
    display: block;
}

#search-resoult a {
    margin: 5px;
    min-width: fit-content;
    display: flex;
    gap: 10px;
}

.modal-toggle {
    cursor: pointer;

}

.close:focus, .close:focus-visible {
    outline: none;
}

.close:hover > span {
    font-weight: 800;
}

.Nazev {
    font-weight: 500;
    font-size: 1.5em;
}

.searchh {
    display: flex;
}

.main-obsah {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}


.predmet {
    width: 33.3333333333%;
}


.predmet .obrazek > img {
    width: 72%;
    min-width: 220px;
}

.obrazek {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hvezdy {
    margin-top: 5px;
    margin-left: 20px;

}

.nazev {
    margin-left: 0 !important;
    font-weight: 400;
    color: #20648b;

}

.cena-produkt {
    font-weight: 500;
    font-size: 1.2em;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;

}

.informace {
    display: flex;
    flex-flow: column;

}

.informace > a {
    margin-left: 20px;
}

.searchh {
    min-width: 90% !important;
    margin-top: 48px;

}

@media only screen and (min-width: 801px) {
    .main-obsah > div.predmet:nth-child(3n-1) {
        border-left: 1px #9d9d9d solid;
        border-right: 1px #9d9d9d solid;
    }
}

@media only screen and (max-width: 800px) {
    .predmet {
        width: 50% !important;
    }

    .main-obsah > div.predmet:nth-child(2n-1) {
        border-right: 1px #9d9d9d solid;
    }
}

@media only screen and (max-width: 540px) {
    .predmet {
        width: 100% !important;
    }

    .main-obsah > div.predmet:nth-child(2n-1) {
        border-right: none;
    }
}

.main-obsah > div.predmet {
    padding-top: 15px;
    border-bottom: 1px #9d9d9d solid;
}

@media only screen and (max-width: 1126px) {
    .searchh {
        flex-direction: column;
    }

    .side-panel {
        width: 100% !important;
    }

    .main-obsah {
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    .searchh {
        padding: 0 !important;
        margin-top: 0 !important;
    }
}

.zobrazit {
    cursor: pointer;
}

.popis {
    margin: 10px 20px;
}