.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.61);
}

.carousel .carousel-indicators li.active {
    background-color: rgb(0, 0, 0);
}

.carousel-inner {
    margin-bottom: 50px;
}

.carousel-indicators {
    bottom: -50px !important;
}

.img-dislpay {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.recenze_obrazek {
    height: 80px;
    max-width: 140px;
}

.neg-icon {
    fill: #c91f28;
}

.bb {
    border: 3px solid #e0e0e0;

}

.pos-icon {
    fill: #a1c900;
}

.fitcont {
    max-width: fit-content !important;
}

.rev-icon {
    width: 30px;
    height: 30px;
}

textarea {

    box-shadow: none !important;
    resize: none !important;

    overflow: hidden !important;

}

.mousefocus {
    transform: scale(1.2);
}

.grayscalestar {

    filter: grayscale(100%);
}

.mouseover {
    filter: none;
}

#rating {
    width: fit-content;
}

.grid {
    display: inline-grid;
}

.top-backg {

    height: 100%;
    background: linear-gradient(270deg, #3cb2f5 0%, #0094e7 100%);
    border-radius: 5px;
}

.bottom-backg {
    width: 150px;
    height: 10px;
    display: inline-block;
    background: #ecf5fe;
    border-radius: 5px;
}

.starrs50 {
    height: 50px;

}

.Star20 {
    height: 20px;
}

.starrs {
    height: 25px;
}


.nav-tabs .nav-link.active {
    color: #007bff;
}

.nav-tabs {
    border-bottom: 2px solid #a4a5ab;
}

.nav-tabs .nav-link.active {
    box-shadow: inset 0 3px 0 #2f8dcd;
    border-color: #a4a5ab #a4a5ab #fff;
}

.nav-tabs .nav-link {
    border: 2px solid transparent;
}

.empty-stars-element {
    background: url("../svg/empty-star.svg") repeat-x;
    background-size: 25px auto;
    height: 100%;
    width: 125px;
}

.star-rating-wrapper {
    display: inline-block;
    height: 25px;
    position: relative;
}

.stars-element {
    background: url("../svg/star.svg") repeat-x;
    background-size: 25px auto;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}


.nav-item > span {
    cursor: pointer;
}


.check {
    width: 5rem !important;
    height: 5rem !important;
    margin-bottom: 10px;
    display: block;
}

.image_galery {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

@media only screen  and (max-width: 991px) {
    .recenze {
        max-width: 90% !important;
    }

    .recenze_body {
        width: 100% !important;
    }

    .div_obraz {
        max-width: 90% !important;
    }

    .obrazek_ccontainer {
        max-width: 100% !important;
    }
}

.sede {

}

@media only screen and (max-width: 710px) {
    #sideBar {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .big_in_small {
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media only screen and (min-width: 519px)and (max-width: 767px) {
    .w-fitcontent519 {
        width: fit-content !important;
    }
}